service cloud.firestore {
  match /databases/{database}/documents {
    match /user-owned/{uid}/vaults/{vaultId} { 
      allow read, write: if request.auth.uid == uid
    }
  }
}
