body {
  margin: 0;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#logged-in .content {
  padding-top: 5rem;
  min-height: calc(100vh - 5rem);
}

#logged-in .add-vault-fab {
  position: fixed;
  right: 4rem;
  top: 2rem;
  z-index: 4;
}

#vaults .empty-state {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 25vh;
}
