body {
  margin: 0;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#logged-in .content {
  padding-top: 5rem;
  min-height: calc(100vh - 5rem);
}

#logged-in .fab {
  position: fixed;
  right: 4rem;
  top: 2rem;
  z-index: 4;
}

#vaults .empty-state {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 25vh;
}

#vaults .mdc-list {
  margin: 0 1rem;
}

#vault {
  padding: 1rem 2rem;
}

form,
form.form-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  overflow: hidden;
}

form > *,
form .form-row > * {
  margin: 1rem 0;
  width: 100% !important;
}
